<!DOCTYPE html>
<head>
    <link rel="stylesheet" href='/static/home.css' />

    <title>Quest Creation</title>
</head>
<body>
    <div class="container" style="display: flex;">
        <div style="width: 35%; background-color: #4b6c84; border: 10px transparent; border-radius: 20px;" class="column left opacity;">
            {% include "partials/sidebar.html" %}
        </div>
        <div style="flex-grow: 1;" class="column right;"">
            <h1 style="text-align:center">Quest Creation:</h1>
            <h2 style="text-align:center">

            <form method="POST" action="#">
                {{ form.csrf_token }}
                <div>QUEST</div>
                {{ form.quest(size=10, placeholder = "type quest name here", rows = 10, cols = 50, style="resize:none") }}
                <div>RULES</div>
                {{ form.rules(size=300, placeholder = "write your rules here", rows = 10, cols = 50, style="resize:none") }} 
                <div></div>
                <form action="#" method="post">
                    <input type="hidden" name="formType" value="newQuest">
                    <input type="hidden" name="group" value="{{currGroup.id}}">
                    <button type="submit" name="button" value="newQuest">Create</button>
                </form>
            </form>
            </h2>
        </div>
</body>
</html>