<!DOCTYPE html>
<head>
    <link rel="stylesheet" href='/static/home.css' />
    
    <title>Home</title>
</head>


<body>
    <div class="container" style="display: flex;">
        <div style="width: 35%; background-color:#d9d9d9; border: 10px solid #262626; border-radius: 20px;" class="column left;">
            {% include "partials/sidebar.html" %}
        </div>
        <div style="flex-grow: 1; background-color:#d9d9d9; border: 10px solid #262626; border-radius: 20px;" class="column right;">
            <h1 style="text-align:center">
                 Quests: 
                <form action="#" method="post">
                    <input type="hidden" name="formType" value="home">
                    <input type="hidden" name="group" value="{{group}}">
                    <button type="submit" name="button" value="newQuest">Create New Quest</button>
                
            </h1>
            
                {%if questExists == 0 :%}
                    <h2 style="text-align:center">No quest have been created in this group yet, create a quest!:</h2>
                    <h3 style="text-align:center"></h3>
                {%endif%}


                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class=flashes>
                    {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                {% endwith %}

                
            {% for task in tasks %}
                   
                    <div style="text-align:center"> 
                        <h1>{{task.title}}</h1>
                        <h3>{{task.rules}}</h3>
                    </div>
                    <div class="container" style="display: flex;">
                        <div style="flex-grow: 1;">
                                
                                
                                <input type="hidden" name="task" value="{{task.id}}">
                                <button type="submit" name="button" value="newSubmission">Create New Submission</button>
                                <button type="submit" name="button" value="viewSubmission">View Submissions</button>
                                <button type="submit" name="button" value="viewResults">View Results</button>
                            </form> 
                        </div>
                    </div>
                    {% for submission in task.submissions %}

                        {{submission.filename}}
                        <div class="container" style="display: flex;">
                            <div style="flex-grow: 1;">
                            {% if submission.mediaType == 1: %}
                            
                                <img src="{{url_for('static', filename=submission.filename)}}" width="320" height="240">
                            
                            {% elif submission.mediaType == 2: %}
                                <video width="320" height="240" controls>
                                    <source src="{{url_for('static', filename=submission.filename)}}">
                                </video>
                            {% elif submission.mediaType == 3: %}
                                <audio controls>
                                    <source src="{{url_for('static', filename=submission.filename)}}">
                                </audio>
                            {% else: %}
                                <h1>Unsupported format</h1>
                            {% endif %}
                        </div>
                        </div>
                    {% endfor %}
            {% endfor %}
        </div>
    </div> 
</body>
</html>