<!DOCTYPE html>
<head>
    <link rel="stylesheet" href='/static/home.css' />

    <title>Home</title>
</head>
<body>
    <!--Top bar, includes home, search buttons-->
    <div class="container spacing" style="display: flex;">
        <button type="button"><img src="/static/icons/home.png"></button>
    </div>
    <div class="container" style="display: flex;">
        <div style="width: 35%; background-color: #4b6c84; border: 10px transparent; border-radius: 20px;" class="column opacity;">
            {% include "partials/sidebar.html" %}
        </div>
        <div style="flex-grow: 1;" class="column;">
            <h1 style="text-align:center">
                Welcome to Quests:
                <div>{{user}}</div>
            </h1>
            
                {%if quest_check == 0 :%}
                    <h2 style="text-align:center">No quest has been created yet, create a quest!:</h2>
                    <h3 style="text-align:center">
                    <form action="#" method="post">
                    <button type="submit">Start</button>
                    </form>    
                    </h3>
                {%else:%}
                    <h2 style="text-align:center">A quest has been already created!:</h2>
                    <h3 style="text-align:center">
                    <form action="#" method="post">
                    <button type="submit">view</button>
                    </form>    
                    </h3>
                {%endif%}
        </div>
    </div>
    
    
        
</body>
</html>