<!DOCTYPE html>
<head>
    <link rel="stylesheet" href='/static/home.css' />

    <title>Watch</title>
</head>
<body>
    <div class="container" style="display: flex;">
        <div style="width: 35%; background-color: #4b6c84; border: 10px transparent; border-radius: 20px;" class="column left opacity;">
            {% include "partials/sidebar.html" %}
        </div>
        <div style="flex-grow: 1;" class="column right;">
            <h1 style="text-align:center">{{task.title}}</h1>
            <h2 style="text-align:center"></h2style>
            
            <div class="comment_style img_container" style="background-color: white; text-align: left;">
                <img class="profile" src="/static/icons/default_profile.jpg">
                <p style="color: #495c86; margin-left: 10px;">
                    {{user}}
                    <br>
                    <span class="format_comment" style="margin-left: -1px;">{{filename}}</span>
                    <br>
                </p>
            </div>
        
    
            <div style="text-align: center;">
                {% if media == 1: %}
                    <img class="scale_pic" src="{{url_for('static', filename=user_input)}}">
                {% elif media == 2: %}
                    <video width="420" height="340" controls>
                        <source src="{{url_for('static', filename=user_input)}}">
                    </video>
                {% elif media == 3: %}
                    <audio controls>
                        <source src="{{url_for('static', filename=user_input)}}">
                    </audio>
                {% else: %}
                    <h1>Unsupported format</h1>
                {% endif %}
            </div>

            <form method="post" action="#">
                {%if curr != 0:%}
                    <button type="submit" name="submit_button" value="PREV">PREV</button>
                {% endif %}
                {%if curr != files:%} 
                    <button type="submit" name="submit_button" value="NEXT">NEXT</button>
                {% endif %}
                <br>
                <h4 class="same_line">
                    <button class="spin" type="submit" name="submit_button" value="UP" style="margin-right: 10px;">
                        <img class="icon" src="/static/icons/upvote.png">
                    </button>         
                    <button class="spin" type="submit" name="submit_button" value="DOWN">
                        <img class="icon" src="/static/icons/downvote.png">
                    </button>        
                </h4>
            </form>            
            
            <div>
            <h6>  
            <form method="POST" action="#">
                {{ form.csrf_token }}
                <div style="font-size: 20px;">Comments</div>
                {{ form.comment(size=10, placeholder = " Add comment", rows = 10, cols = 100, style="resize:none; border: transparent; border-radius: 10px;") }}
                <br>
                <button type="submit" name="submit_button" value="SUBMIT">SUBMIT</button>
                {% for comment in comments: %}
                <div>
                        <div class="col-lg-4 "></div>
                        <div class="col-lg-8 "></div>
                        <div style="height: fit-content; max-width: 900px;">
                            <div class="comment_style img_container" style="background-color: white; text-align: left;">
                                
                                <img class="profile" src="/static/icons/default_profile.jpg">
                                    
                                <p><span style="color: #495c86; margin-left: 12px;">{{comment[1]}}:</span>
                                <br>
                                <span class="format_comment">{{comment[2]}}</span></p>
                                    
                            </div>
                {%endfor%}    
                        </div>
                </div>
            </h6>  
            </div>          
</body>
</html>