<!DOCTYPE html>
<head>
    <title>Watch</title>
</head>
<body>
    <div class="container" style="display: flex;">
        <div style="width: 35%;">
            {% include "partials/sidebar.html" %}
        </div>
        <div style="flex-grow: 1;">
            <h1 style="text-align:center">Viewing Submissions</h1>
            <h2 style="text-align:center"> {{filename}} </h2style>
            <div>by: {{user}}</div>
            <div style="text-align: center">
                {% if media == 1: %}
                    <img src="{{url_for('static', filename=user_input)}}">
                {% elif media == 2: %}
                    <video width="320" height="240" controls>
                        <source src="{{url_for('static', filename=user_input)}}">
                    </video>
                {% elif media == 3: %}
                    <audio controls>
                        <source src="{{url_for('static', filename=user_input)}}">
                    </audio>
                {% else: %}
                    <h1>Unsupported format</h1>
                {% endif %}
                


                <h3>Load Another Submission</h3>
                    <form method="post" action="#">
                        {%if curr != 0:%}
                            <input type="submit" name="submit_button" value="PREV">
                        {% endif %}
                        {%if curr != files:%} 
                            <input type="submit" name="submit_button" value="NEXT">
                        {% endif %}
                        <h4> Upload Another Submission:
                            <input type="submit" name="submit_button" value="NEW">      
                        <h4>
                        <h5> UPVOTE:
                            <input type="submit" name="submit_button" value="UP">       
                        <h5>
                    </form>
        </div>
    </body>
</html>

    </div>
</body>
</html>