body {
    background: linear-gradient(30deg, #393D3F, #FDFDFF, #C6C5B9, #62929E, #546A7B);
    color: white;
    margin-top: 45px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 350px;
}

.login {
    padding: 50px;
    text-align: center;    
}

.login-text {
    height: 30px;
    width: 300px;
}

h1 {
    font-family: 'Lexend', sans-serif;
    letter-spacing: 2px;
    font-size: 5em;
    color: white;
    animation: blink-text 3.5s linear infinite;
}
   
p {
    font-family: 'Lexend', sans-serif;
    font-size: 1.2em;
    color: DarkSlateGray;
}

.center_text {
    text-align: center;
    margin-left: 30px;
    margin-right: -3px;
}

/* Used to make the CHKD login to blink on login screen */
@keyframes blink-text {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

img {
    width: auto;
    height: 100px;
}

/* Removes the bullet point from flash message, and formats the font */
ul.flash_message {
    list-style: none;
    font-family: 'Lexend', sans-serif;
    font-size: 20px;
}