
<!DOCTYPE html>
<body>
    <!-- Sidebar Title -->
    <h1 style="text-align:center"> 
        CHKD Sidebar 
    </h1>

    <!-- Horizontal Line -->
    <hr>

    <!-- Group Section -->
    <!-- Group Header -->
    <div class="container" style="display: flex;">
        <div style="width: 50%;">
            Groups
        </div>
        <div style="flex-grow: 1;">
            <form action="#" method="post">
                <input type="submit" name="new_button" value="New Grouo">
            </form> 
        </div>

    </div>
    <!-- Group List -->
    <div>
        <!-- Makes a row for each group -->
        {% for group in groups %}
            <div class="container" style="display: flex;">
                <div style="flex-grow: 1;"> 
                    {{group.name}}
                </div>
                <div style="flex-grow: 1;">
                    <!-- Has dot if there's a notification in that group. Replace * with small image -->
                    {% if group.hasNotification %}
                        *
                    {% endif %}
                    
                    <!-- Still needs check icon after this -->
                    {{group.completedTasks}}/{{group.totalTasks}}

                    <!-- Needs member icon after this -->
                    {{group.totalMembers}}
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Horizontal Line -->
    <hr>

    <!-- Friend Section -->
    <!-- Friend Header -->
    <div class="container" style="display: flex;">
        <div style="width: 50%;">
            Friends
        </div>
        <div style="flex-grow: 1;">
            <form action="#" method="post">
                <input type="submit" name="add_button" value="Add Friend">
            </form> 
        </div>

    </div>
    <!-- Friend List -->
    <div>
        <!-- Makes a row for each friend -->
        {% for friend in friends %}
            <div class="container" style="display: flex;">
                <div style="flex-grow: 1;"> 
                    {{friend.name}}
                </div>
                <div style="flex-grow: 1;">
                    <!-- Checks friend status to decide which to show -->
                    {% if friend.isFriend %}
                        <!-- Replace buttons with hamburger menu? -->
                        <form action="#" method="post">
                            <input type="submit" name="remove_button_{{friend.name}}" value="Remove Friend">
                        </form> 
                    <!-- If not friend, give user choice to accept/decline friend request -->
                    {% else %}
                    <form action="#" method="post">
                        <input type="submit" name="accept_button_{{friend.name}}" value="Accept">
                        <input type="submit" name="decline_button_{{friend.name}}" value="Decline">
                    </form> 
                    {%endif%}
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Horizontal Line -->
    <hr>

    <!-- Footer -->
    <div class="container" style="display: flex;">
        <div style="flex-grow: 1;">
            <form action="#" method="post">
                <input type="submit" name="submit_button" value="Log-out">
            </form> 
        </div>
    </div>
</body>
</html>